input,
button {
  font: inherit;
  border: 0;
  background: transparent;
}

.todo-container {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  justify-content: center;
  margin: 5rem auto;
}

div > p {
  justify-content: flex-start;
}

.todos {
  width: 100%;
}

button {
  display: flex;
  user-select: none;
}

.card {
  background-color: var(--card-bg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.5rem;
  padding: 1.9rem 2rem;
  gap: 2rem;
  max-width: 500px;
  margin: 1rem 0 1rem 0;
}

.add {
  margin-bottom: 0;
  width: 300px;
}

.add #add-btn {
  color: var(--clr-btn);
  font-size: var(--base-font);
  width: fit-content;
  height: 100%;
  align-items: center;
  justify-content: center;
}

ul {
  list-style: none;
}

.txt-input {
  color: var(--clr-font);
  outline: none;
}

li.card.item {
  display: flex;
  justify-content: space-between;
}

.card.item > button {
  color: var(--clr-btn);
}
